@using ValidatiePOC
@inject IBackendWebApi WebApi

@if (Model != null)
{
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <FluentValidator Validator="validator"></FluentValidator>
        <div class="@(Model.IsBinnenlands ? "" : "collapse")">
            <RsInputText @bind-Value="Model.Straat" ValidationFor="@(() => Model.Straat)" Label="Straat"/>
            <RsInputText @bind-Value="Model.Huisnummer" ValidationFor="@(() => Model.Huisnummer)" Label="Huisnummer"/>
            <RsInputText @bind-Value="Model.HuisnummerToevoeging" ValidationFor="@(() => Model.HuisnummerToevoeging)" Label="Toevoeging"/>
            <RsInputText @bind-Value="Model.PostCode" ValidationFor="@(() => Model.PostCode)" Label="PostCode"/>
            <RsInputText @bind-Value="Model.Gemeente" ValidationFor="@(() => Model.Gemeente)" Label="Gemeente"/>
            <RsInputText @bind-Value="Model.Land" ValidationFor="@(() => Model.Land)" Label="Land"/>
        </div>
        <div class="@(Model.IsBinnenlands ? "collapse" : "")">
            <RsInputText @bind-Value="Model.AdresRegel1" ValidationFor="@(() => Model.AdresRegel1)" Label="AdresRegel1"/>
            <RsInputText @bind-Value="Model.AdresRegel2" ValidationFor="@(() => Model.AdresRegel2)" Label="AdresRegel2"/>
            <RsInputText @bind-Value="Model.PostCode" ValidationFor="@(() => Model.PostCode)" Label="PostCode"/>
            <RsInputText @bind-Value="Model.Land" ValidationFor="@(() => Model.Land)" Label="Land"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-primary" @onclick="Cancel">Cancel</button>
        </div>
    </EditForm>
}
@code {

    [CascadingParameter]
    public AdresModel Model { get; set; }

    [Parameter]
    public Action<AdresModel> AdresFinished { get; set; }

    private readonly AdresValidator validator = new AdresValidator();

    public async void HandleValidSubmit()
    {
        if (Model.Id == 0)
        {
            Model = await WebApi.Post("Adres", Model);
            AdresFinished(Model);
        }
        else
        {
            WebApi.Put("Adres", Model);
            AdresFinished(null);
        }
    }

    private void Cancel()
    {
        AdresFinished(null);
    }
}